.section--hero-v4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 20em;
  display: flex;
  position: relative;

  @include tablet {
    min-height: 30vw;
  }

  &::before {
    content: " ";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}