.section--image-slider {
  @include tablet {
    padding: 6em 0;
  }

  .content-wrapper {
    max-width: 50em;
    margin: 0 auto 3em auto;
    flex-direction: column;
    padding: 1em;
  }

  .image_slider {
    .slick-track .slick-slide {
      padding: 0;
      margin: 0;
    }

    .slick-dots {
      li {
        button:before {
          opacity: 1;
          font-size: 15px;
        }

        &.slick-active {
          button:before {
            opacity: 1;
          }
        }
      }
    }
  }
}