.section--three-panels-v2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

    .panels {
      display: flex;
      flex-direction: column;
      @include tablet {
        flex-direction: row;
      }
      .panel {
        padding: 1em;
        margin: 1em;
        text-align: center;
        border-width: 0.2em;
        border-style: solid;
        @include borderRadius();
        @include dropShadow();
        @include tablet {
          flex-basis: calc(33% - 1em);
        }
        img {
          width: 5em;
        }
        .white-text {
          color: $white;
        }
      }
    }
  }