.section--two-panels {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include desktop {
    padding-bottom: 10em;
    margin-bottom: 20em;
  }

  .heading-wrapper {
    max-width: 50em;
    margin: 0 auto;
  }

  .panels {
    display: flex;
    flex-direction: column;
    margin: 2em 0;

    @include tablet {
      flex-direction: row;
    }

    @include desktop {
      position: absolute;
    }

    .panel {
      background-color: $white;
      margin: 1em;
      padding: 1em;
      text-align: center;
      @include dropShadow();
      @include borderRadius();

      img {
        width: 7em;
      }

      h4 {
        font-size: 1.25em;
      }

      @include tablet {
        flex-basis: calc(50% - 1em);
        padding: 2em;
      }

      @include desktop {
        flex-basis: calc(50% - 1em);
      }
    }
  }
}